body {
    background-color: lightcyan;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
}

nav {
    display:flex ;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
nav ul li.current a {
    color:rgb(0, 132, 255) /* İlgili sayfa aktifken renk değişimi */
}

nav ul li a:hover {
    color: #6f4fd1;
}

.main {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 20px auto; 
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* Sol kısım stilleri */
.Solkisim {
    position: relative;
    background-color: lightblue;
    padding: 35px;
    
}

.profile_txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.profile_resmi {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_resmi img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_txt h2 {
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile_txt h2 span {
    font-size: 0.6em;
    font-weight: 300;
}
.İlitisim{
    padding-top: 20px;
}
.title{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
     letter-spacing: 1px;

}
.İlitisim ul {
    padding-left: 0; /* Listenin sol kenar boşluğunu sıfırla */
    justify-content: space-between; /* Öğeler arasındaki mesafeyi artır */
    flex-wrap: wrap; /* Eğer ekran daralırsa öğelerin bir alt satıra geçmesini sağlar */


}
.İlitisim ul li {
    list-style: none;
    margin: 12px 0; /* Yukarı ve aşağı boşluk ayarla */
    flex: 1; /* Öğelerin esnek boyutlandırılmasını sağlar */
    
}
.İlitisim ul li span{
    font-weight: 400;
}
.egitim ul {
    padding-left: 0; /* Listenin sol kenar boşluğunu sıfırla */

}
.egitim ul li {
    margin: 10px;
    list-style: none;
}
.egitim h5{
    color: dimgrey;
    font-weight: 800;

}

.egitim h4{
    font-weight: 300;;
}
.Diller ul {
    padding-left: 0;
}
.Diller ul li {
    list-style: none;
    margin: 10px;
}
.Diller .yuzde{
    position: relative;
    width: 100%;
    height: 7px;
    background: lightcyan;
    display: block;
    margin-top: 5px;

}
.Diller .yuzde div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:darkslateblue;
}


.SagKisim {
    position: relative;
    background-color: rgb(248, 248, 233);
    padding: 40px;
   
}
.Hakkımda {
    margin-bottom: 0;
}
.SagKisim .titleh2{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: darkslateblue;

}
.Beceriler .yuzde{
    position: relative;
    width: 100%;
    height: 9px;
    background: lightsteelblue;
    display: block;
    margin-top: 5px;

}

.Beceriler ul {
    padding-left: 0;
}
.Beceriler ul li {
    list-style: none;
    margin: 10px;
}
.Beceriler .yuzde div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:darkslateblue;
}
.SagKisim .Hakkımda p{
    color: #333;
}
.İsDeneyim .is{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}
.İsDeneyim .is .tarih-donem{
    min-width: 150px;

}
.İsDeneyim .is .tarih-donem h5{
    text-transform: uppercase;
    color: #8a8e90

}
.İsDeneyim .is .text h4{
    text-transform: uppercase;
    font-size: 15px;
    color:lightseagreen;



}
