*{
    margin:0;
    padding: 0;
    font-family:'poppins',sans-serif ;
    box-sizing:border-box ;
    background-color: lightcyan;

}
nav ul li.current a {
    color:darkturquoise;/* İlgili sayfa aktifken renk değişimi */
}
nav{
    display:flex ;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 50px;
}
nav ul li a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    transition: 0.4s;
}
nav ul li a:hover {
    color:darkturquoise;

}