<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İLİTİŞİM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="webcit.css">

    <link rel="stylesheet" href="iletisim.css">
    <link rel="icon" href="resimler/user (2).ico">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="Home.html">
                <img class="logo" src="resimler/dikeylogo.png" alt="saü logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="Home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ozgecmis.html">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Sehir.html">Şehir <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Takimim.html">Takımım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hobiler.html">Eğlence Köşesi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fotografsilik.html">Galeri</a>
                    </li>
                    <li class="nav-item current">
                        <a class="nav-link" href="iletisim.html">İletişim</a>
                    </li>
                </ul>
            </div>
          
        </nav>
      </header>
    
    <div class="container">
        <img src="resimler/Mail sent-amico.png"  class="square1"  alt="">
        <span class="big-circle"></span>
        
        <img src="resimler/shape.png" class="square" alt="" />
        <div class="form">
          <div class="contact-info">
            <h3 class="title">İletişime geçelim</h3>
            <p class="text">
                ben selim
                Yaratıcı ve çözüm odaklı bir yaklaşıma sahibim ve her projeye benzersiz bir bakış açısıyla yaklaşırım. Hem bireysel olarak hem de ekip içinde çalışmayı seviyorum. takım hedeflerine ulaşmak için işbirliğine önem veriyorum.
            </p>
  
            <div class="info">
              <div class="information">
                <img src="resimler/marker.png" class="icon" alt="" />
                <p>İstanbul Bahçelievler 9/2</p>
              </div>
              <div class="information">
                <img src="resimler/gmail.png" class="icon" alt="" />
                <p>selim.altin@ogr.sakarya.edu.tr</p>
              </div>
              <div class="information">
                <img src="resimler/whatsapp.png" class="icon" alt="" />
                <p>05519557459</p>
              </div>
            </div>
  
            <div class="social-media">
              <p>Social-Media :</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100026062516271&locale=tr_TR" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://snapchat.com/t/XzbEllaz" target="_blank">
                  <i class="fab fa-snapchat"></i>
                </a>
                <a href="https://www.instagram.com/s.la55m/?utm_source=ig_web_button_share_sheet" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/+90551955749/" target="_blank">
                  <i class="fab fa-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <div id="app" class="col-md-6 contact-form">
                
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="text">
        <h2><span>Selim</span> Altın</h2>
        <p></p>
    </div>
    <div class="son">
        <div class="siteHaritasi">
            <h3>Site Haritası</h3>
            <ul>
                <li >
                    <a  href="Home.html">Home</a>
                </li>
                <li >
                    <a  href="ozgecmis.html">CV</a>
                </li>
                <li >
                    <a href="Sehir.html">Şehir </a>
                </li>
                <li >
                    <a href="Takimim.html">Takımım</a>
                </li>
                <li >
                    <a  href="hobiler.html">Eğlence Köşesi</a>
                </li>
                <li >
                    <a  href="fotografsilik.html">Galeri</a>
                </li>
                <li >
                    <a  href="iletisim.html">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="iletisim">
            <h3>İletişim Bilgileri</h3>
            <a href="https://wa.me/+90551955749/" target="_blank"><img src="resimler/icon/Whatsapp_37229.png" alt="Whatsapp"></a>
            <a href="https://www.instagram.com/1kur.an_/" target="_blank"><img src="resimler/icon/3721672-instagram_108066.png" alt="instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=100026062516271&locale=tr_TR" target="_blank"><img src="resimler/icon/1490889652-facebook_82510.png" alt="facebook"></a>
            <a href="https://snapchat.com/t/XzbEllaz" target="_blank"><img src="resimler/icon/1490889713-snapchat_82531.png" alt="snapchat"></a>     
        </div>
    </div>
    <div class="telifHakki">
        <p>© 2024 Selim Altın. Tüm hakları saklıdır.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                name: '',
                surname: '',
                email: '',
                phone: '',
                message: ''
            },
            errors: {}
        },
        methods: {
            validateForm() {
                this.errors = {};

                if (!this.form.name) {
                    this.errors.name = "Lütfen adınızı girin.";
                }
                if (!this.form.surname) {
                    this.errors.surname = "Lütfen soyadınızı girin.";
                }
                if (!this.form.email) {
                    this.errors.email = "Lütfen e-posta adresinizi girin.";
                } else if (!this.validEmail(this.form.email)) {
                    this.errors.email = "Geçerli bir e-posta adresi girin.";
                }
                if (!this.form.phone) {
                    this.errors.phone = "Lütfen telefon numaranızı girin.";
                } else if (!this.validPhone(this.form.phone)) {
                    this.errors.phone = "Geçerli bir telefon numarası girin.";
                }
              
                if (!this.form.message) {
                    this.errors.message = "Lütfen mesajınızı girin.";
                }

                if (Object.keys(this.errors).length === 0) {
                    this.submitForm();
                }
            },
            validEmail(email) {
                const re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                return re.test(email);
            },
            validPhone(phone) {
                return /^\d{11}$/.test(phone);
            },
            submitForm() {
                const queryString = Object.keys(this.form)
                    .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(this.form[key])}`)
                    .join('&');
                window.location.href = `result.html?${queryString}`;
            },
            resetForm() {
                this.form.name = '';
                this.form.surname = '';
                this.form.email = '';
                this.form.phone = '';
                this.form.message = '';
                this.errors = {};
            }
        },
        template: `
            <form @submit.prevent="validateForm">
                <h3 class="title">İletişim</h3>
                <div class="input-container">
                        <label for="name">Adınız</label>
                        <input type="text"  v-model="form.name" class="input" :class="{'is-invalid': errors.name}" name="name">
                        <div class="invalid-feedback">{{ errors.name }}</div>
                        <span>Username</span>
                    </div>

                    <div class="input-container">
                        <label for="surname">Soyadınız</label>
                        <input type="text" id="surname" v-model="form.surname" class="input" :class="{'is-invalid': errors.surname}" name="surname">
                        <div class="invalid-feedback">{{ errors.surname }}</div>
                    </div>

                    <div class="input-container">
                        <label for="email">E-Posta</label>
                        <input type="email" id="email" v-model="form.email" class="input" :class="{'is-invalid': errors.email}" name="email">
                        <div class="invalid-feedback">{{ errors.email }}</div>
                    </div>

                    <div class="input-container">
                        <label for="phone">Telefon</label>
                        <input type="text" id="phone" v-model="form.phone" class="input" :class="{'is-invalid': errors.phone}" name="phone">
                        <div class="invalid-feedback">{{ errors.phone }}</div>
                    </div>

                

                    <div class="input-container textarea">
                        <label for="message">Mesajınız</label>
                        <textarea id="message" v-model="form.message" class="input" rows="4" :class="{'is-invalid': errors.message}" name="message"></textarea>
                        <div class="invalid-feedback">{{ errors.message }}</div>
                    </div>

                    <button type="submit" id="btn" class="btn btn-primary">Gönder</button>
                    <button type="button" id="btn-js" class="btn btn-secondary" onclick="validateFormJS()">Gönder js</button>
                    <button type="button" id="btn" class="btn btn-secondary" @click="resetForm">Temizle</button>

               
              
            
                <div class="form-group">
                    
                </div>
            </form>
        `
    });
</script>
<script>
    function validateFormJS() {
        var form = {
            name: document.querySelector('input[name="name"]').value,
            surname: document.querySelector('input[name="surname"]').value,
            email: document.querySelector('input[name="email"]').value,
            phone: document.querySelector('input[name="phone"]').value,
            message: document.querySelector('textarea[name="message"]').value
        };
    
        var errors = {};
    
        if (!form.name) {
            errors.name = "Lütfen adınızı girin.";
        }
        if (!form.surname) {
            errors.surname = "Lütfen soyadınızı girin.";
        }
        if (!form.email) {
            errors.email = "Lütfen e-posta adresinizi girin.";
        } else if (!validEmail(form.email)) {
            errors.email = "Geçerli bir e-posta adresi girin.";
        }
        if (!form.phone) {
            errors.phone = "Lütfen telefon numaranızı girin.";
        } else if (!validPhone(form.phone)) {
            errors.phone = "Geçerli bir telefon numarası girin.";
        }
        if (!form.message) {
            errors.message = "Lütfen mesajınızı girin.";
        }
    
        displayErrors(errors);
    
        if (Object.keys(errors).length === 0) {
            submitForm(form);
        }
    }
    
    function validEmail(email) {
        const re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return re.test(email);
    }
    
    function validPhone(phone) {
        return /^\d{11}$/.test(phone);
    }
    
    function displayErrors(errors) {
        var errorElements = document.querySelectorAll('.invalid-feedback');
        errorElements.forEach(function(el) {
            el.textContent = '';
        });
    
        for (var key in errors) {
            var errorElement = document.querySelector(`input[name="${key}"] ~ .invalid-feedback`);
            if (errorElement) {
                errorElement.textContent = errors[key];
            }
            var textareaErrorElement = document.querySelector(`textarea[name="${key}"] ~ .invalid-feedback`);
            if (textareaErrorElement) {
                textareaErrorElement.textContent = errors[key];
            }
        }
    }
    
    function submitForm(form) {
        const queryString = Object.keys(form)
            .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(form[key])}`)
            .join('&');
        window.location.href = `result.html?${queryString}`;
    }
    
    function resetFormJS() {
        document.querySelector('input[name="name"]').value = '';
        document.querySelector('input[name="surname"]').value = '';
        document.querySelector('input[name="email"]').value = '';
        document.querySelector('input[name="phone"]').value = '';
        document.querySelector('textarea[name="message"]').value = '';
        var errorElements = document.querySelectorAll('.invalid-feedback');
        errorElements.forEach(function(el) {
            el.textContent = '';
        });
    }
    </script>
    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            const inputs = document.querySelectorAll(".input");
    
              function focusFunc() {
              let parent = this.parentNode;
              parent.classList.add("focus");
              }
    
             function blurFunc() {
             let parent = this.parentNode;
            if (this.value == "") {
             parent.classList.remove("focus");
                }
             }
    
           inputs.forEach((input) => {
           input.addEventListener("focus", focusFunc);
           input.addEventListener("blur", blurFunc);
    });
            
        </script>
</body>
</html>